#include('./header.html',{title: article.title, keywords: article.tags})
<article class="main-content post-page" itemscope itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a href="${permalink()}">${title()}</a>
        </h1>
        <div class="post-data">
            <time datetime="${created('yyyy-MM-dd')}" itemprop="datePublished">博客发布时间:&nbsp; ${created('yyyy-MM-dd')}
            </time>
            &nbsp;&nbsp;${show_categories()} &nbsp; <a href="#comments">${comments_num('没有评论', '%d 条评论')}</a> &nbsp;&nbsp;
            浏览量:&nbsp;${hits()}&nbsp;&nbsp;最新修改:&nbsp;${modified('yyyy-MM-dd HH:mm:00')}
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags">${show_tags()}</p>
        ${show_content()}
    </div>
</article>
#include('./comments.html')
#include('./footer.html')